window:
  padding:
    x: 30
    y: 10 #25

  dynamic_padding: false
  opacity: 0.92
  title: Alacritty
  
  class:
    instance: Alacritty
    general: Alacritty

scrolling:
  history: 5000

font: # CaskaydiaCove Nerd Font
  normal:
    family: CaskaydiaCove Nerd Font
    style: Regular
  bold:
    family: CaskaydiaCove Nerd Font
    style: Bold
  italic:
    family: CaskaydiaCove Nerd Font
    style: Italic
  bold_italic:
    family: CaskaydiaCove Nerd Font
    style: Bold Italic
  size: 15.0

custom_cursor_colors: true
import:
  # catppuccin color scheme: https://github.com/catppuccin/alacritty

  - ~/.config/alacritty/colorScheme/catppuccin/catppuccin-macchiato.yml

draw_bold_text_with_bright_colors: false

key_bindings:
  - { key: V,         mods: Control|Shift, action: Paste                       }
  - { key: C,         mods: Control|Shift, action: Copy                        }
  - { key: Insert,    mods: Shift,         action: PasteSelection              }
  - { key: Key0,      mods: Control,       action: ResetFontSize               }
  - { key: Plus,      mods: Control,       action: IncreaseFontSize            }
  - { key: Minus,     mods: Control,       action: DecreaseFontSize            }
  - { key: L,         mods: Control,       action: ClearLogNotice              }
  - { key: L,         mods: Control,       chars: "\x0c"                       }
  - { key: PageUp,    mods: None,          action: ScrollPageUp,   mode: ~Alt  }
  - { key: PageDown,  mods: None,          action: ScrollPageDown, mode: ~Alt  }
  - { key: Home,      mods: Shift,         action: ScrollToTop,    mode: ~Alt  }
  - { key: End,       mods: Shift,         action: ScrollToBottom, mode: ~Alt  }
  - { key: Period,    mods: Control,       chars: "\x1b[46;5u" }
  - { key: Comma,     mods: Control,       chars: "\x1b[44;5u" }
  - { key: Slash,     mods: Control,       chars: "\x1b[47;5u" }
  - { key: Return,    mods: Control,       action: SpawnNewInstance }
  - { key: Space,    mods: Control,       action: ToggleViMode }
  - { key: 5,         mods: Shift,         mode: Vi|~Search,      action: Last                    }
