[Unit]
Description=sww daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
RemainAfterExit=yes
ExecStart=/usr/bin/swww-daemon

[Install]
WantedBy=graphical-session.target
