Xft.dpi: 125
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter


*background: #282828
*foreground: #dfbf8e

! black
*color0:   #272727
*color8:   #928373
      
! red 
*color1:   #fb4934
*color9:   #fe8019

! green
*color2:   #b8bb26
*color10:  #3c3836

! yellow
*color3:   #fabd2f
*color11:  #504945

! blue
*color4:  #83a598
*color12: #bdae83

! magenta
*color5:   #d3869b
*color13:  #ebdbb2

! cyan
*color6:   #8ec07c
*color14:  #d65d0e

! white
*color7:   #d5c4a1
*color15:  #fbf1c7
