/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2FFF;
    background-alt: #282839FF;
    foreground:     #D9E0EEFF;
    selected:       #CAA6F7FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
	window-border:  #D4C0F3FF;
}
