/* Inspired by: 
* - elifouts' dotfile: https://github.com/elifouts/Dotfiles
* - Hyprdot project: https://github.com/prasanthrangan/hyprdots
*/

@define-color background #171717;
@define-color color7 #D1CFC0;
@define-color color8 #31748f;
@define-color color9 #D19097;

/* 
* General
*********
*/
* {
    font-size: 13px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all:unset;
}

tooltip {
    background:@background;
    color: @color7;
}

.modules-left {
    padding: 7px;
    margin: 10px 15px 5px 15px;
    border-radius: 10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding: 7px;
    margin:10px 0px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding: 7px;
    margin: 10px 15px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#clock:hover,
#custom-pacman:hover,
#custom-notifications:hover,
#custom-wallpaper:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#temperature:hover {
    transition: all .3s ease;
    color:@color9;
}

/* 
* modules-left
**************
*/
#clock {
    padding: 0px 7px;
    color:@color7;
    transition: all .3s ease;
}

#tray,
#tray menu *,
#tray menu separator {
    padding: 0px 5px;
    /* transition: all .3s ease;  */
}

#tray menu * {
	font-size: 14px;
    padding: 0px 4px;
}

#window {
    padding: 0px 5px 0px 7px;
    color: @color9;
}

/* 
* modules-center
****************
*/
#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}


/* 
* modules-right
***************
*/
#group-expand {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#custom-expand {
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}

#expand {
    padding: 1px 7px 0px 7px;
}

#custom-expand:hover {
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-wallpaper, #idle_inhibitor {
    padding: 0px 5px 0px 5px;
    transition: all .3s ease;
    color:@color7;
}

#custom-pacman {
    padding: 1px 7px 0px 0px;
    transition: all .3s ease;
    color:@color7;
}

#temperature {
    padding: 1px 7px 0px 5px;
    transition: all .3s ease; 
    color:@color7;
}

#cpu,
#memory,
#bluetooth,
#pulseaudio,
#network,
#battery {
    padding: 0px 7px;
    color:@color7;
    transition: all .3s ease;
}

#custom-notifications {
    padding: 0px 5px 0px 5px;
    transition: all .3s ease;
    color:@color7;
}

#custom-endpoint {
    padding: 0px 5px;
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-powermenu {
    padding: 0px 5px 0px 8px;
	color:@color9;
    transition: all .3s ease;
}

#custom-powermenu:hover {
    transition: all .3s ease;
    color:@color8;
}
