[Unit]
Description=Simple battery monitoring and notification daemon

[Service]
Type=exec
WorkingDirectory=%h/Development/script/programs/wayland
ExecStart=%h/Development/script/programs/wayland/battery-notification.sh

[Install]
WantedBy=default.target
