[Unit]
Description=Simple battery monitoring and notification daemon

[Service]
Type=exec
ExecStart=%h/Development/script/gui/battery-notification.sh

[Install]
WantedBy=default.target
