[Unit]
Description=ElKowars wacky widgets - window toggle
Documentation=https://elkowar.github.io/eww/
Requires=eww-daemon.service
After=eww-daemon.service

[Service]
Type=oneshot
ExecStart=/usr/bin/eww open --toggle --no-daemonize "%i"
# ExecStop=/usr/bin/eww close --no-daemonize "%i"
# RemainAfterExit=yes

# [Install]
# WantedBy=graphical-session.target
