///////////////////////////////////// variables ////////////////////////////////////////////
$clock_background: #7B9C98;
$clock_foreground: #000000;
$buttons_background: #EFF1F5;
$system_icon_background: #EFF1F5;
$indicator_background: #EFF1F5;
$progressbar_empry_background: #D6D3D6;
$progressbar_fill: #7B9C98;

$workspace_background: #EFF1F5;

$tooltip_background: #EFF1F5;
$tooltip_foreground: #1E1E2E;

$calendar_selected_foreground: #179299;
$calendar_empty_foreground: #70706C;

$music_box_background: #EFF1F5;

$widget_border_color: #1E1E2E;
$widget_border_length: 2px;
$calendar_background_color: #EFF1F5;
///////////////////////////////////// variables ////////////////////////////////////////////


///////////////////////////////////// general ////////////////////////////////////////////
* {
	all: unset;
	font-size: 15px;
	font-family: "Iosevka";
	border-radius: 5px;
}

label {
	color: $tooltip_foreground;
}

progressbar > trough {
	min-width: 70px;
	// color: #89B4FA;
	background-color: $progressbar_empry_background;
	border-radius: 10px;
	margin-bottom: 7px;
}

progressbar > trough > progress {
	border-radius: 10px;
	background-color: $progressbar_fill;
}
///////////////////////////////////// general ////////////////////////////////////////////


///////////////////////////////////// right bar and widgets ////////////////////////////////////////////
.right_bar {
	// background-color: #1e1e2e;
	// border-radius: 15px;

	margin-top: 5px;
}

.clock {
	border: $widget_border_length solid $widget_border_color;

	background-color: $clock_background;

	padding: 2px 5px;
	color: $clock_foreground;
}

.buttons {
	border: $widget_border_length solid $widget_border_color;

	padding: 0 5px;
	background-color: $buttons_background;
}

.system_icon {
	border: $widget_border_length solid $widget_border_color;

	background-color: $system_icon_background;
	padding: 0px 5px;
}

.memory_icon, .cpu_icon {
	margin-right: 8px;
}

.indicator {
	border: $widget_border_length solid $widget_border_color;

	background-color: $indicator_background;
	padding: 0 10px;
}
///////////////////////////////////// right bar and widgets ////////////////////////////////////////////


///////////////////////////////////// left bar widgets ////////////////////////////////////////////
.left_bar {
	margin-top: 5px;
}

.workspace {
	border: $widget_border_length solid $widget_border_color;

	background-color: $workspace_background;

	padding: 0 20px;
}

.workspace_button {
	margin: 0px 1px;
}

.music_widget {
	border: $widget_border_length solid $widget_border_color;

	background-color: $music_box_background;
	padding: 0 10px;
}

.music_widget_title {
	font-family: "Varela Round";
	font-size: 13px;
}
///////////////////////////////////// left bar widgets ////////////////////////////////////////////


///////////////////////////////////// separate window ////////////////////////////////////////////
///////////////////////////////////// music box
.music_box {
	border: $widget_border_length solid $widget_border_color;
	
	border-radius: 10px;
	background-color: $music_box_background;
}

.album_cover {
	// background-size: 200px;
	// background-repeat: no-repeat;
	min-width: 150px;
	min-height: 150px;
	background-position: center;
	background-size: cover;
	margin: 1em;
	border-radius: 10px;
}

.music_info_container {
	min-width: 220px;
	min-height: 180px;
	margin-top: 20px;
	// margin-left: 10px;
	margin-right: 5px;
}

.music_info_title {
	font-family: "Varela Round";
	font-weight: bold;
	font-size: 1.2em;
}

.music_info_artists {
	font-family: "Varela Round";
	font-size: 1.1em;
}

.music_info_album {
	font-size: 1.1em;
	font-family: "Varela Round";
}
///////////////////////////////////// music box

tooltip {
	background-color: $tooltip_background;
	color: $tooltip_foreground;
}

calendar {
	border: $widget_border_length solid $widget_border_color;

	background-color: $calendar_background_color;
	color: $clock_foreground;
	padding: 5px;
	border-radius: 10px;

	.highlight {
		color: $calendar_selected_foreground;
		font-weight: bold;
	}

	:selected {
		color: $calendar_selected_foreground;
		// background-color: #87af87;
	}

	:indeterminate {
		color: $calendar_empty_foreground;
	}
}
///////////////////////////////////// separate window ////////////////////////////////////////////
